.btn-hover.color {
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.btn-hover {
  height: auto;
  width: 100%;
  padding:  8px 2px;
  color: #fff;
  cursor: pointer;
  border: none;
  background-size: 300% 100%;
  border-radius: 20px;
  transition: all .5s ease-in-out;

  &:hover {
    background-position: 90% 0;
  }
}
