

@keyframes infinite-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .infinite-scroll-tech-banner {
    display: flex;
    animation: infinite-scroll 40s linear infinite;
    width: max-content; /* Đảm bảo chiều rộng linh hoạt */
  }
  
